<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="app.component.css">
  </head>

  <body>
    <ul>

      <li>Auth-Guard Task</li>

      <li style = "position:relative; left:500px; background-color: powderblue;">
        <a routerLink="/regLogin" routerLinkActive="active"> Reg-Login </a>
      </li>

      <li style = "position:relative; left:575px; background-color: powderblue;">
        <a routerLink="/public" routerLinkActive="active"> Public </a>
      </li> 

      <li style = "position:relative; left:650px; background-color: powderblue;">
        <a routerLink="/admin" routerLinkActive="active"> Admin </a>
      </li>

    </ul>
  </body>
  
</html>

<router-outlet></router-outlet>