<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="app.component.css">
  </head>

  <body>
    <ul>

      <li>Pipe-Navigation Task</li>

      <li style = "position:relative; left:600px; background-color: powderblue;">
        <a routerLink="/prePipe" routerLinkActive="active"> Task 1 </a>
      </li> 

      <li style = "position:relative; left:650px; background-color: powderblue;">
        <a routerLink="/ownPipe" routerLinkActive="active"> Task 2 </a>
      </li>

    </ul>
  </body>
</html>

<router-outlet></router-outlet>