<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="app.component.css">
  </head>

  <body>
    <ul>

      <li>Lazy-Routing Task</li>

      <li style = "position:relative; left:600px; background-color: powderblue;">
        <a routerLink="lazyLoad/Observable"> Observable </a>
      </li> 

      <li style = "position:relative; left:650px; background-color: powderblue;">
        <a routerLink="lazyLoad/HttpClient"> HttpClient </a>
      </li>

    </ul>
  </body>
  
</html>

<router-outlet></router-outlet>